* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 736px;
    height: 512px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 30px 60px 0px #3D6CEC26;
    border-radius: 32px;

}

